<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="src/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Ubuntu:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="Logowanie.css">
</head>

<body>
    <nav class="navbar navbar-light bg-white sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="src/logo.png" alt="logo" height="40px"></a>
        </div>
    </nav>
    <div class="main" style="max-height: 90vh;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-5 d-none d-lg-block">
                    <div class="l-exit-button">
                        <- Wróć </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 offset-lg-1 my-5">
                    <form class="cart m-auto m-lg-none" action="/rejestracja" method="POST">
                        <h2>Zarejestruj się</h2>
                        <span class="line"></span><br><br>
                        <input type="email" class="form-control f-input" name="email" placeholder="E-mail lub login">
                        <br>
                        <input type="password" class="form-control f-input" name="pass" placeholder="Hasło">
                        <br>
                        <input type="password" class="form-control f-input" name="pass" placeholder="Hasło">
                        <br>
                        <p style="color: red;">{{error}}</p>
                        <input type="submit" class="cart-button-2" value="Zarejestruj">
                            
                    </form>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="l-panel">
                                <h4>Masz już konto?</h4>
                                <span class="red-text"><a href="" class="link-node">Zaloguj się!</a></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="l-social">
                                <h3>Nasze social media</h3>
                                <div class="row">
                                    <div class="col-4">
                                        <figure>
                                            <img src="src/icon/youtube.png" alt="yt">
                                            <figcaption>YouTube</figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-4">
                                        <figure>
                                            <img src="src/icon/facebook.png" alt="yt">
                                            <figcaption>Facebook</figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-4">
                                        <figure>
                                            <img src="src/icon/instagram.png" alt="yt">
                                            <figcaption>Instagram</figcaption>
                                        </figure>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="l-footer">
        <div class="l-footer-box">
            <a href="#" class="link-none">regulamin</a>
            <a href="#" class="link-none">polityka prywatności</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>